@import 'partials/variables';

html{
    font-size: 1rem;
  }
  
  body{
    //font-family: Yekan, sans-serif;
    background-color: $background_color;
    color: $text_color;
  }
  a{
    color: $anchor_color;
    &:hover{
      color: $accent_color;
    }
  }
  input, button, textArea{
    outline: none;
    &:focus{outline: none;}
  }
  a:hover{
    text-decoration: none;
  }
  a:active, a:focus{
    outline: none;
  }