 @media only screen and ( min-width: 461px ) {
        #product_filter_bar{
        justify-content: space-between;
        }
    }
    @media only screen and ( max-width: 460px ) {
        #product_filter_bar{
        align-items: center;
        flex-direction: column;
        .be_store_select_filter{
           margin-top: 15px;
            }
        }
    }

//Comment section
@media only screen and ( max-width: 506px ){
    .be_store_comment_feature{
        flex-direction: column;
    }
}
@media only screen and ( max-width: 398px ){
    .be_store_comment_feature{
        div{
            flex-direction: column;
            align-items: start !important;
        }
    }
}