@import 'base';
// @use 'partials/mixins';
// @use 'partials/variables';

.be_store_top_menu{
    font-size: 0.7rem;
    background-color: $bold_text_color;
    ul{
        margin: 0;
        flex-wrap: wrap;
        li{
            margin: 10px 15px;
            text-align: center;
            a{
                color: white;
                margin-left: 10px;
            }
        }
    }
}

.be_store_search_section{
    #be_store_logo{
        margin: 20px 0;
        span{
            font-size: 0.7rem;
            color: $bold_text_color;
            margin-left: 30px;
        }
    }
    .be_store_search_form{
        margin: 20px 0;
        form{
            position: relative;
            input{
                width: 100%;
                border: 1px solid $border_color;
                border-radius: 20px;
                height: 40px;
            }
            button{
                position: absolute;
                right: 0;
                height: 100%;
                width: 70px;
                border-radius: 0;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background-color: $accent_color;
            }
        }
       
    }
    .be_store_cart_description{
        font-size: 0.7rem;
        color: $accent_color;
        margin: 20px;
        margin-left: 0;
    }
    .be_store_favorite_products{
        margin: 20px;
        position: relative;
        i{
            position: absolute;
            min-width: 20px;
            height: 20px;
            border-radius: 20px;
            padding: 2px 7px;
            background-color: $accent_color;
            color: white;
            font-size: 0.6rem;
            right: -11px;
            top: 0px;
        }
    }
    .be_store_cart{
        position: relative;
        flex-shrink: 0;
        margin: 20px;
        .be_store_cart_title{
            font-size: 1rem;
            font-weight: bold;
            color: $bold_text_color;
            margin-left: 15px;
        }
        .be_store_price{
            font-size: 0.7rem;
            color: $bold_text_color;
            margin: -6px 0 0 50px;
        }
        i{
            position: absolute;
            min-width: 20px;
            height: 20px;
            border-radius: 20px;
            padding: 2px 7px;
            background-color: $accent_color;
            color: white;
            font-size: 0.6rem;
            right: 63px;
            top: 0px;
        }
    }
}

.be_store_main_menu{
    .be_store_categories_container{
        position: relative;
        &:hover{
            .be_store_categories_menu{
                visibility: visible;
                opacity: 1;
                transform: translateY( 0 );
            }
        }
        .be_store_categories_dropdown{
            padding: 15px 0 15px 20px;
            display: inline-block;
            width: 100%;
            color: white;
            font-size: 1rem;
            background-color: $accent_color;
            img{
                padding-right: 20px;
            }
        }
        .be_store_categories_menu{
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            width: 100%;
            z-index: 1000;
            opacity: 0;
            transform: translateY( -30px );
            transition: all 300ms ease-in-out;
            visibility: hidden;
            border: 1px solid $border_color;
            li{
                background-color: $background_color;
                &:not( :last-child ){
                    border-bottom: 1px solid $border_color;
                }
                a, i{
                    color: $text_color;
                }
                a{
                    display: inline-block;
                    padding: 12px 0 12px 20px;
                    width: 100%;
                    position: relative;
                }
                i{
                    position: absolute;
                    right: 20px;
                }
            }
            font-size: 0.81rem;
        }
    }
    .navbar{
        padding: 0;
        display: block;
    }
    background-color: $background_color;
    #collapsibleNavbar{
        border-top: 1px solid $border_color;
        position: absolute;
        width: 100%;
        z-index: 1000;
        background-color: $background_color;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: $text_color;
        font-size: 1rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    // .dropdown-menu{
    //     background-color: white;
    //     border: none;
    //     border-radius: none;
    //     padding: 0;
    //     margin: 0;
    //     width: 270px;
    //     .dropdown-item{
    //         &:first-child{
    //         border-top: 1px solid #E2E2E2;
    //         }
    //         position: relative;
    //         font-size: 0.9rem;
    //         height: 40px;
    //         border-bottom: 1px solid #E2E2E2;
    //         a{
    //             color: $text_color;
    //         }
    //         i{
    //             color: $text_color;
    //             position: absolute;
    //             right: 15px;
    //         }
    //     }
    // }
    .navbar-dark .navbar-toggler{
        border: none;
        padding: 0;
        .navbar-toggler-icon{
            background-image: url( '../../../node_modules/@fortawesome/fontawesome-free/svgs/solid/bars.svg' );
        }
    }
    
}

.be_store_carousel{
    .carousel-indicators{
        right: 32px;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        li{
            text-indent: unset;
            text-align: center;
            width: 32px;
            height: 32px;
            opacity: 1;
            background-color: $border_color;
            i{
                display: inline-block;
                margin-top: 3px;
            }
            &.active{
                background-color: $accent_color;
                color: white;
            }
        }
    }
    .carousel-control-prev, .carousel-control-next{
        width: 32px;
        height: 50px;
        top: 50%;
        background-color: $border_color;
        color: $text_color;
        i{
            margin-top: -3px;
        }
    }
    .carousel-control-prev{
        transform: translate( 50%, -50% );
        left: 16px;
    }
    .carousel-control-next{
        transform: translate( -50%, -50% );
        right: 16px
    }
}

.be_store_features_container{
    padding: 0 8px;
    border: 2px solid $border_color;
    background-color: white;
    margin: 30px 0 60px 0;
    .be_store_feature{
        margin: 20px 0;
        .be_store_feature_info{
            padding-left: 15px;
            color: $text_color;
            h6{
                font-weight: bold;
                margin-bottom: 5px;
            }
            p{
                font-size: 0.88rem;
                margin-bottom: 0;
            }
        }

    }
}

.be_store_nav_tabs_links{
    border-bottom: 3px solid $accent_color;
    .nav-link{
        transition: all 300ms ease;
        color: $text_color;
        &.active{
            background-color: $accent_color;
            border-color: transparent;
            border-radius: 0;
            color: white;
        }
        &:hover{
            border-color: transparent;
        }

    }
}

.be_store_tab_content {
    margin-bottom: 60px;
    .be_store_load_more{
        margin-top: 30px;
        a{
            text-align: center;
            display: block;
            background-color: white;
            border: 1px solid $border_color;
            padding: 16px 0;
            span{
                font-size: 0.88rem;
                color: $text_color;
            }
        }
    }
}